<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1 class="title">Liste des Expositions</h1>

<f:flashMessages />
<f:for each="{expositions}" as="exposition">
    <div class="expo">
        <h2 class="expo_name"><f:link.action action="show" arguments="{exposition : exposition}">{exposition.nom}</f:link.action></h2>
        <div class="expo_dates">
          <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Du <span>{exposition.datedbt -> f:format.date(format: "d/m/y")}</span> au <span>{exposition.datefin -> f:format.date(format: "d/m/y")}</span>
        </div>
        <div class="expo_lieu">
          <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;{exposition.lieu.0.nom}
        </div>
        <div class="expo_show">
            <f:link.action action="show" class="btn btn-default" arguments="{exposition : exposition}">En savoir plus</f:link.action>
        </div>
    </div>
</f:for>
</f:section>
</html>
