<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="btn_return">
  <f:link.action action="list" class="btn btn-primary">Retour à la liste</f:link.action>
</div>
<h1 class="author_name expo_name">{exposition.nom}</h1>
<div>
  <f:image class="expo" src="{exposition.visuel.originalResource.publicUrl}" width="300"/>
</div>
<div class="col-md-12 expo_description">
  <b>Lieu de l'événement</b></br>
{exposition.lieu.0.nom}
</div>
<div class="col-md-12 expo_description">
  <b>Description de l'événement:</b></br>
{exposition.description}
</div>
<div class="expo_content">
  <div class="col-md-4">
    <b><f:translate key="tx_expositionqnvt_domain_model_exposition.horaires" />:</b></br>
    {exposition.horaires}
  </div>
  <div class="col-md-4">
    <b><f:translate key="tx_expositionqnvt_domain_model_exposition.tarif" />:</b></br>
    {exposition.tarif}
  </div>
  <div class="expo_dates col-md-4">
    <b>Dates de l'événement:</b></br>
    <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Du <span>{exposition.datedbt -> f:format.date(format: "d/m/y")}</span> au <span>{exposition.datefin -> f:format.date(format: "d/m/y")}</span>
  </div>
</div>
<div class="clear"></div>

<div class="col-md-12 oeuvres_list">
  <h2 style="margin-bottom:30px;">Oeuvres exposées:</h2>
  <f:widget.paginate objects="{exposition.oeuvres}" as="paginatedOeuvres" configuration="{itemsPerPage: 4, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 1}">
  <f:for each="{paginatedOeuvres}" as="oeuvre">
  <div class="col-md-3">
    <f:link.page pageUid="57"  additionalParams="{tx_expositionqnvt_pi1: {oeuvres: oeuvre.uid, action: 'show'}}" ><f:image image="{oeuvre.image}" class="oeuvre_thumbnail"/></f:link.page>
  </div>
  </f:for>
  </f:widget.paginate>
</div>


<f:flashMessages />
<!-- <f:render partial="Exposition/Properties" arguments="{exposition:exposition}" /> -->
	</f:section>
</html>
