<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="btn_return">
  <f:link.action action="list" class="btn btn-primary">Retour à la liste</f:link.action>
</div>
<f:flashMessages />
<h1 class="author_name"><b>{oeuvre.intitule}</b>&nbsp;<i>({oeuvre.date -> f:format.date()})</i></h1>
    <div class="col-md-4">
<f:image image="{oeuvre.image}" class="author_portrait"/>
</div>
  <div class="col-md-8">
  
<div class="biography minH_70"><f:format.html><b><f:translate key="tx_expositionqnvt_domain_model_oeuvres.description" /> : </b> </br>{oeuvre.description}</f:format.html></div>
<b><f:translate key="tx_expositionqnvt_domain_model_oeuvres.dimensions" /> : </b>
<i><p>{oeuvre.dimensions}<p></i>
</div>
	</f:section>
</html>
