.clear{
  clear: both;
}

.minH_70{
      min-height: 70px;
}

.search{
  margin-bottom: 20px;
  float: right;
}

div .oeuvre-cover{
height: 210px;
width: 100%;
background-position: 50% 50%;
background-size: contain;
background-repeat: no-repeat;
}

h1.title{
text-align: center;
margin-bottom: 30px;
font-weight: 400;
font-size: 50px;
color: white;
background: linear-gradient(#10a0cb, #0e8db3);
padding: 10px 0;
border-radius: 10px;
}

div.author, div.oeuvre{
  height: 150px;
}

div.author p, div.oeuvre p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.panel-body div.biography {
  margin-bottom: 20px;
}

div.actions_bar{
  margin: 10px 20px;
}
div.btn_return {
  width: 100%;
  margin-bottom: 10px;
}
div.btn_return a {
  float: right;
  border-radius: 5px;
}
h1.author_name {
  text-align: center;
  margin-bottom: 75px;
}
img.author_portrait {
  width:100%;
  height: 100%;
  display: block;
  margin: auto;
  float: left;
  border-radius: 5px;
}

div.border_left{
 border-left: 2px solid grey;
}

div.panel img.author_thumbnail{
     width: 50%;
     display: block;
     margin: auto;
     height: 50%;
     max-height: 210px;
}

  div.panel img.oeuvre_thumbnail{
    width: 100%;
    display: block;
    margin: auto;
    max-height: 210px;
}

div.card{
-webkit-box-shadow: 3px 3px 10px 0px rgba(102,102,102,0.52);
-moz-box-shadow: 3px 3px 10px 0px rgba(102,102,102,0.52);
box-shadow: 3px 3px 10px 0px rgba(102,102,102,0.52);
}
div.list_artistes ul, div.oeuvres_list ul, div.list_oeuvres ul {
  padding-left: 20px;
  margin-bottom: 40px;
}
div.list_artistes ul li, div.oeuvres_list ul li,  div.list_oeuvres ul li {
      display: inline;
      padding: 5px 10px;
      border: 1px solid #d8d8d8;
      border-right: none;
      cursor: pointer;
}
div.list_artistes ul li:first-child, div.oeuvres_list ul li:first-child,  div.list_oeuvres ul li:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.list_artistes ul li:last-child,div.oeuvres_list ul li:last-child ,  div.list_oeuvres ul li:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #d8d8d8;
}
div.list_artistes ul li.current, div.list_artistes ul li:hover,  div.list_oeuvres ul li.current ,  div.list_oeuvres ul li:hover {
  background-color: #efefef;
  color: #10a0cb;
}
div.expo {
  margin-top: 20px;
  border-bottom: 1px solid #d8d8d8;
}
h2.expo_name a, h1.expo_name{
  color: #f49542;
  font-weight: bold;
}
div.expo_dates span:not(:first-child) {
  font-weight: bold;
}
div.expo_show {
  margin: 20px 0;
}
div.expo_show a {
  color: white;
  font-weight: bold;
  border: 1px solid coral;
  background-color: coral;
  border-radius: 5px;
  padding: 3px 12px;
}

img.expo{
  margin: 0 auto 30px;
  display: block;
}

div.expo_description{
  margin-bottom: 20px;
}

div.oeuvres_list{
margin-top: 50px;
}

div.oeuvres_list img.oeuvre_thumbnail {
     width: 100%;
     display: block;
     margin: auto;
     height: 210px;
}

div.oeuvres_list img.oeuvre_thumbnail:hover {
     transform: scale(1.2);
}
