
h1.title{
text-align: center;
margin-bottom: 30px;
font-weight: 400;
font-size: 50px;
color: white;
background: linear-gradient(#10a0cb, #0e8db3);
padding: 10px 0;
border-radius: 10px;
}

div.author{
  height: 150px;
}

div.author p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.panel-body div.biography {
  margin-bottom: 20px;
}

div.actions_bar{
  margin: 10px 20px;
}
div.btn_return {
  width: 100%;
  margin-bottom: 10px;
}
div.btn_return a {
  float: right;
  border-radius: 5px;
}
h1.author_name {
  text-align: center;
  margin-bottom: 75px;
}
img.author_portrait {
  width:100%;
  height: 100%;
  display: block;
  margin: auto;
  float: left;
  margin-top: 20px;
  border-radius: 5px;
}

div.panel img.author_thumbnail {
     width: 50%;
     display: block;
     margin: auto;
     height: 50%;
     max-height: 210px;
}

div.card{
-webkit-box-shadow: 3px 3px 10px 0px rgba(102,102,102,0.52);
-moz-box-shadow: 3px 3px 10px 0px rgba(102,102,102,0.52);
box-shadow: 3px 3px 10px 0px rgba(102,102,102,0.52);
}
div.list_artistes ul {
  padding-left: 20px;
}
div.list_artistes ul li {
      display: inline;
      padding: 5px 10px;
      border: 1px solid #d8d8d8;
      border-right: none;
      cursor: pointer;
}
div.list_artistes ul li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.list_artistes ul li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #d8d8d8;
}
div.list_artistes ul li.current, div.list_artistes ul li:hover {
  background-color: #efefef;
  color: #10a0cb;
}
div.expo {
  border-bottom: 1px solid #d8d8d8;
}
h2.expo_name a {
  color: #f49542;
  font-weight: bold;
}
div.expo_dates span:not(:first-child) {
  font-weight: bold;
}
div.expo_show {
  margin: 20px 0;
}
div.expo_show a {
  color: white;
  font-weight: bold;
  border: 1px solid coral;
  background-color: coral;
  border-radius: 5px;
  padding: 3px 12px;
}
