<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder



<f:section name="main">

<h1 class="title">Liste des artistes</h1>
<div class="actions_bar">
  <f:link.action action="new" class="btn btn-warning">Ajouter un artiste</f:link.action>
</div>

  <f:flashMessages />
  <div class="list_artistes">
  <f:widget.paginate objects="{artistes}" as="paginatedArtistes" configuration="{itemsPerPage: 1, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 1}">
  	<f:for each="{paginatedArtistes}" as="artiste">
    <div class="col-md-4">
      <div class="panel panel-default card">
          <f:image image="{artiste.photo}" class="author_thumbnail"/>
          <div class="panel-heading"><f:link.action action="show" arguments="{artiste : artiste}"> {artiste.nom}</f:link.action> ({artiste.dateNaissance -> f:format.date()} / {artiste.dateDeces -> f:format.date()})</div>
          <div class="panel-body author">
            <div class="biography"><f:format.html>{artiste.biographie}</f:format.html></div>
            <b><f:translate key="tx_expositionqnvt_domain_model_artiste.influences" /> : </b>
            <i><f:format.html>{artiste.influences}</f:format.html></i>
          </div>
         <div class="panel-footer">
           <f:link.action action="delete" class="btn btn-primary" arguments="{artiste : artiste}">Voir ses œuvres</f:link.action>
         </div>
      </div>
    </div>
    </f:for>
    </f:widget.paginate>
  </div>
</f:section>
</html>
