<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:debug>{artiste}</f:debug>
<f:section name="main">
<div class="btn_return">
  <f:link.action action="list" class="btn btn-primary">Retour à la liste</f:link.action>
</div>
<f:flashMessages />
<h1 class="author_name"><b>{artiste.nom}</b>&nbsp;<i>({artiste.dateNaissance -> f:format.date()} / {artiste.dateDeces -> f:format.date()})</i></h1>
    <div class="col-md-3">
<f:image image="{artiste.photo}" class="author_portrait"/>
</div>
  <div class="col-md-9 border_left">

<div class="biography"><f:format.html>{artiste.biographie}</f:format.html></div>
<b><f:translate key="tx_expositionqnvt_domain_model_artiste.influences" /> : </b>
<i><f:format.html>{artiste.influences}</f:format.html></i>
<b><f:translate key="tx_expositionqnvt_domain_model_artiste.nationalite" /> : </b>
<i><p>{artiste.nationalite.0.nom}<p></i>
<div class="">
  <div class="oeuvres_list">
    <p style="margin-bottom:30px;"><b>Ses oeuvres:</b></p>
    <f:widget.paginate objects="{artiste.oeuvres}" as="paginatedOeuvres" configuration="{itemsPerPage: 4, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 1}">
    <f:for each="{paginatedOeuvres}" as="oeuvre">
    <div class="col-md-3">
      <f:link.page pageUid="57"  additionalParams="{tx_expositionqnvt_pi1: {oeuvres: oeuvre.uid, action: 'show'}}" ><f:image image="{oeuvre.image}" class="oeuvre_thumbnail"/></f:link.page>
    </div>
    </f:for>
    </f:widget.paginate>
  </div>
</div>
</div>
	</f:section>
</html>
