<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	  <f:flashMessages />

		<f:form action="search" name="search" object="{search}" class="col-md-4 search">
			<f:form.textfield property="intitule" class="form-control" class="col-md-8" />
			<f:form.submit value="Rechercher.." class="col-md-4" />
		</f:form>
		<div class="clear"></div>
	  <div class="list_oeuvres">
	  <f:widget.paginate objects="{oeuvress}" as="paginatedOeuvres" configuration="{itemsPerPage: 6, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 1}">
	  	<f:for each="{paginatedOeuvres}" as="oeuvre">
	    <div class="col-md-4">
	      <div class="panel panel-default card">
	          <f:image image="{oeuvre.image}" class="oeuvre_thumbnail"/>
	          <div class="panel-heading"><f:link.action action="show" arguments="{oeuvres : oeuvre}"> {oeuvre.intitule} </f:link.action>({oeuvre.date -> f:format.date()})</div>
	          <div class="panel-body oeuvre">
	            <div class="biography"><b>Description:</b> </br><f:format.html>{oeuvre.description}</f:format.html></div>
							<p>{oeuvre.type.name}</p>
							<p>{oeuvre.dimensions}</p>
	          </div>
	      </div>
	    </div>
	    </f:for>
	    </f:widget.paginate>
	  </div>
</html>
